<a href="https://colab.research.google.com/github/Morice17/BTE320/blob/main/In_Class_Assignments_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#In Class Assignment 1
pi=3.14
r=3
h=10
Surface_area=2*pi*r*(r+h)
print(Surface_area)

244.92

In [ ]:
#Rock paper scissors (In Class Assignment 2)

request=input("Do you want to play a game (Y/N)")
while request=="Y":
  print("Lets play rock paper scissors!")
  P1=input("Player 1, choose rock paper or scissors:")
  P2=input("Player 2, choose rock paper or scissors:")
  if P1==P2:
    print("Draw!")
  elif P1=="rock" and P2=="scissors":
        print("Rock beats scissors! P1 wins!")
  elif P1=="rock" and P2 == "paper":
        print("Paper covers rock! P2 wins!")
  elif P1=="scissors" and P2=="rock":
        print("Rock beats scissors! P2 wins!")
  elif P1=="scissors" and P2=="paper":
        print("Scissors beat paper! P1 wins!")
  elif P1=="paper" and P2=="rock":
        print("Paper beats rock! P1 wins!")
  elif P1=="paper" and P2=="scissors":
        print("Scissors beats paper! P2 wins!")
  request=input("Do you want to play again (Y/N)")
if request=="N":
  print("Have a good one!")

Do you want to play a game (Y/N)Y
Lets play rock paper scissors!
Player 1, choose rock paper or scissors:rock
Player 2, choose rock paper or scissors:scissors
Rock beats scissors! P1 wins!
Do you want to play again (Y/N)N
Have a good one!

In [ ]:
#calcualtor (In Class Assignment 3)

n1=float(input("Enter First Number "))
op=input("enter operator (+,-,*,/,^)")
n2=float(input("Enter Second Number "))
print()
if op=="+":
    print(n1,"+",n2,"is",n1+n2)
elif op=="-":
    print(n1,"-",n2,"is",n1-n2)
elif op=="*":
    print(n1,"*",n2,"is",n1*n2)
elif op=="/":
    print(n1,"/",n2,"is",n1/n2)
elif op=="^":
    print(n1,"^",n2," is ",n1**n2,sep='')
else:
    print("Invalid")

Enter First Number 90
enter operator (+,-,*,/,^)^
Enter Second Number 2

90.0^2.0 is 8100.0

In [ ]:
#In class assignment 9/18/2024 (Parking Garage)
for i in range(1,9,1):
  price=5+(2.5*i)
  if price<10:
    price=10.0
  elif price>20:
    price=20.0
  print(i,price)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
#Movie Theater
ticketprice=10
fixedcost=200
print("Adspend|Profir")
for Adspend in range(0,201,25):
  volume=20+(2*round(Adspend**.5))
  profit=((volume*ticketprice)-fixedcost-(Adspend))
  print(Adspend," |", profit)

Adspend|Profir
0  | 0
25  | 75
50  | 90
75  | 105
100  | 100
125  | 95
150  | 90
175  | 85
200  | 80

In [ ]:
List = []
Input=int(input('Input a interger '))
while Input != 0:
  List.append(Input)
  Input=int(input('Input a interger '))
print(List)

Input a interger 1
Input a interger 2
Input a interger 3
Input a interger 0
[1, 2, 3]

In [ ]:
months = {}
names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(1,13):
  months[i]=names[i-1]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
# House Hunting
portion_down_payment = 0.25
current_savings = 0
r = .04
months=0
annual_salary = float(input("Enter your annual salary:"))
portion_saved = float(input("Enter the percent of your salary to save, as a decimal:"))
total_cost=float(input("Enter the cost of your dream home:"))
while current_savings < (total_cost*portion_down_payment):
  current_savings += (current_savings*r/12)
  current_savings = current_savings+((annual_salary/12)*portion_saved)
  months = months + 1
print("Number of Months:" ,months)

Enter your annual salary:120000
Enter the percent of your salary to save, as a decimal:.1
Enter the cost of your dream home:1000000
Number of Months: 183

In [ ]:
#House hunting - Saving with a raise
portion_down_payment = 0.25
current_savings = 0
r = .04
months=0
annual_salary = float(input("Enter your annual salary:"))
portion_saved = float(input("Enter the percent of your salary to save, as a decimal:"))
total_cost=float(input("Enter the cost of your dream home:"))
semi_annual_raise = float(input("Enter semi annual raise:"))
while current_savings < (total_cost*portion_down_payment):
  current_savings += (current_savings*r/12)
  current_savings = current_savings+((annual_salary/12)*portion_saved)
  months = months + 1
  if months%6 == 0:
    annual_salary = annual_salary+(annual_salary * semi_annual_raise)
print("Number of Months:" ,months)

Enter your annual salary:120000
Enter the percent of your salary to save, as a decimal:.05
Enter the cost of your dream home:500000
Enter semi annual raise:.03
Number of Months: 142

In [ ]:
#Assignment 3-1
def range_check (high, low, value):
  if value > low and value < high:
    print(f"This value ({value}) is within the range{low,high}")
  else:
    print(f"This value ({value}) is not withing the range {low,high}")


range_check(10,2,11)

This value (11) is not withing the range (2, 10)

In [ ]:
#Assignment 3-2
def range_check2 (high, low, value):
  if value > low and value < high:
    return True
  else:
    return False

range_check2(10,3,11)

False

In [ ]:

def calcFee(hours, decimals=2):
  fee = round((5 + 2.5 * hours), decimals)
  return fee
def displayFee(fee):
  print(fee)

hours_parked = int(input('Enter hours for parking:'))
f = calcFee(hours_parked)
displayFee(f)

Enter hours for parking:9
27.5

In [ ]:
#String reversal
def StringRev(s):
  if len(s)==1:
    return s
  else:
    return s[-1]+StringRev(s[:-1])

StringRev("hello")

'olleh'

In [ ]:
# Weighted Average List
def wAvg(L, w):
  try:
    res=[]
    for i in range(len(L)):
      res.append(L[i]*w[i])
    return sum(res)/sum(w)
  except ZeroDivisionError:
    print("Division by zero")
  except TypeError:
    print()
  except Exception as e:
	  print(e)

li = [1,2,3,4,5]
we = [.1,.4,.2,.25,.05]
print(wAvg(li, we))

2.75

In [5]:
class Student:
  def __init__(self, name, number):
      self.name = name
      self.number = number

  def student_code(self):
    print(f"name{self.name}, number:{self.number}")

In [9]:
s1 = Student("James Bond", "007")
s2 = Student("Clark Kent", "333")